.wrapper{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  background-color: aquamarine;
}
header{
  grid-column: span 4;
}
main{
  grid-column: span 3;
  background-color: aliceblue;
}
footer{
  grid-column: span 4;
}
