.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: aquamarine;
    gap: 1rem;
}


main {
    grid-column: span 3;
    background-color: aliceblue;
}

footer {
    grid-column: span 4;
}

a.active {
    color: gold;
}

aside {
    padding: 20px;
}

a {
    text-decoration: none;
}